<nav>
    <input type="checkbox" id="check">
    <label class="logo">
        <img class="image" src="images/Capsule_Red.png" alt="Logo do site">
        <strong>Revalidar Comprimidos</strong>
    </label>
    <ul>
        <li><a href="index">Início</a></li>
        <li><a href="settings">Configurações</a></li>
    </ul>

    <label for="check" class="checkbtn">
        &#9776
    </label>
</nav>

@code {

}
